
/* non specific color */
$primary-color-text:   #ffffff;
$accent-color:         #ee425a;
$light-text-color:   #cbcbcb;
$darker-text-color:   darken($light-text-color, 45%);

/* backgranuds color */
$primary-background-color: #ffffff;
