
/* non specific color */
$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #ee425a;
$primary-text-color:   #cbcbcb;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

/* backgranuds color */
$primary-background-color: #ffffff;
